<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>userlist</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>id</th>
        <th>姓名</th>
        <th>职位</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s:${listAll}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.loginName}"></td>
        <td th:text="${s.remark}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>